@charset "UTF-8";
body {
  font-size: 13px;
  font-family: 'Manrope', sans-serif;
  line-height: 1.5rem;
  background-color: #ecf2f8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pos-relativ {
  position: relative;
}

.hide-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

span {
  display: inline-block;
}

.guillemet::before {
  content: '«';
}

.guillemet::after {
  content: '»';
}

/* container max width -------------------  */
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1160px;
}

.main-section {
  margin-top: 20%;
  border-radius: 8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
}

.image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-image: url(../images/drawers.jpg);
  min-height: 100%;
}

.content {
  padding: 50px;
}

.content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.content p {
  line-height: 1.3rem;
}
