body {
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    line-height: 1.5rem;
    background-color: hsl(210, 46%, 95%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
}

.grid {
    display: grid;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pos-relativ {
    position: relative;
}

.hide-scroll {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

span {
    display: inline-block;
}

.guillemet {

    &::before {
        content: '«';
    }

    &::after {
        content: '»';
    }
}

/* container max width -------------------  */

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 1160px;
}

.main-section {
    margin-top: 20%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    background-color: #fff;
}

.image {
    flex: 0 1 50%;
    // width: 50%;
    background-image: url(../images/drawers.jpg);
    min-height: 100%;
}

.content {
    padding: 50px;

    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    p {
        line-height: 1.3rem;
    }
}